.projectsWrapper {
  padding: 6rem;
  text-align: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  margin-top: 6rem;
}

.projectBox {
  background: var(--preset-primary-dust-storm);
  border: 0.2rem solid var(--preset-secondary-floral-white);
  padding: 3rem;
  box-shadow: 0rem 0.5rem 1rem rgba(236, 214, 214, 0.353);
  cursor: pointer;
  transition: transform 0.2s;
}

.projectBox:hover {
  transform: scale(1.05);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: var(--preset-primary-dust-storm);
  border: 0.5rem solid var(--preset-secondary-floral-white);
  padding: 3rem;
  max-width: 60rem;
  width: 90%;
  text-align: center;
}

h1 {
  color: var(--preset-primary-tumble-weed);
}

.title {
  margin-bottom: 1rem;
  color: var(--preset-secondary-black-olive);
}

.projectButton {
  color: var(--preset-secondary-black-olive);
  font-family: var(--preset-font-montserrat);
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  border: 0.1rem solid var(--preset-secondary-black-olive);
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.projectButton:hover {
  color: var(--preset-secondary-floral-white);
  background-color: var(--preset-secondary-black-olive);
  text-decoration: none;
}
