/* BurgerMenu.module.css */

.BurgerMenu {
  position: fixed;
  top: 30px;
  left: 30px;
  height: 27px;
  width: 27px;
  cursor: pointer;
  z-index: 1002;
  transition: all 0.3s ease-in-out;
}

.BurgerMenu.close {
  position: fixed;
}

.Bar,
.Bar::before,
.Bar::after {
  background: var(--preset-primary-tumble-weed);
  display: block;
  height: 2px;
  width: 27px;
  position: absolute;
  content: "";
  transition: 0.3s ease-in-out;
}

.Bar {
  top: 13px;
  right: 0;
}

.Bar::before {
  top: -10px;
  left: 0;
}

.Bar::after {
  top: 10px;
  left: 0;
}

.BurgerMenu.close .Bar {
  transform: rotate(-45deg);
}

.BurgerMenu.close .Bar::before {
  top: 0;
  transform: rotate(90deg);
}

.BurgerMenu.close .Bar::after {
  top: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background: var(--preset-secondary-black-olive);
  z-index: 1000;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.Menu.overlay {
  height: 100%;
  visibility: visible;
  opacity: 0.9;
}

.Menu ul {
  list-style: none;
  margin: 0;
  padding: 100px 0 0;
}

.Menu li {
  margin-bottom: 30px;
}

.Menu a {
  color: var(--preset-primary-dust-storm);
  font-size: 28px;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.Menu a:hover {
  text-decoration: underline;
}
@media (min-width: 767px) {
  .BurgerMenu {
    display: none;
  }
}
