/* ------------------contact info---------------- */
.githubLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--gree);
  background-color: var(--preset-primary-dust-storm);
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  max-width: fit-content;
  border: 0.15rem solid var(--preset-primary-burnished-brown);
}

.githubLink:hover {
  background-color: var(--preset-secondary-floral-white);
}

.contact {
  background-color: var(--preset-primary-dust-storm);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0rem 1.5rem;
  margin-top: 2rem;
  font-size: medium;
  font-weight: 500;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .contact {
  }
}
